.link{
    color: #0024f3;
    text-decoration: underline;
    background-color: #ffffffbb;
    text-shadow: 0 0 0 #fff;
    padding: 5px;
}
@media (max-width: 460px){
    img.imglarge{
        width:100%;
    }
}