header {
  margin: 3rem 5rem;
}

@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: 0 0 25px 10px #21187f;
  }
  25% {
    box-shadow: 0 0 25px 15px #b719b7;
  }
  50% {
    box-shadow: 0 0 25px 20px #c773b0;
  }
  75% {
    box-shadow: 0 0 25px 15px #c5b35c;
  }
}

header img {
  display: block;
  margin: auto;
}


.slide {
  width: 100%;
  height: 30vh;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: fill;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

.title {
  color: #c5b35c;
  font-size: 60px;
  text-align: center;
  padding-top: 25%;
  text-shadow: #000000 2px 2px 2px;
}

.swiper {
  height: 30vh;
  box-shadow: 0 0 20px rgba(21, 250, 0, 0.5);
  animation: shadowAnimation 15s infinite;
}


@media (max-width: 570px) {
  .swiper {
    width: 90vw;
    height: 30vh;
  }

  header {
    margin: 1rem;
  }
  .title{
    font-size: 38px;
    margin: 0 5%;
    padding-top: 25%;
  }
}
@media (min-width: 570px) {
  .title {
    padding-top: 10%;
    font-size: 46px;
  }
}

@media (min-width: 768px) {
  .swiper {
    height: 55vh;
  }
  .title{
    padding-top: 20%;
    font-size:56px;
  }
}

@media (min-width: 1220px) {
  .swiper {
    width: 85%;
    height: 65vh;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
