.velas img{
    width: 75%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1200px){
    .velas img{
        width: 50%;
    }
}

.upper p{
    text-transform: lowercase;
}
.upper p::first-letter{
    text-transform: uppercase;
}